<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Very simple cam</title>
		<style type="text/css">
			canvas {
				display: none;
			}
			video, img, #startbutton {
				display: block;
				float: left;
				border: 10px solid #fff;
				border-radius: 10px;
			}
			#startbutton {
				background: green;
				border: none;
				color: #fff;
				margin: 100px 20px 20px 20px;
				padding: 10px 20px;
				font-size: 20px;
			}
			#container {
				overflow: hidden;
				width: 880px;
				margin: 20px auto;
			}
		</style>
	</head>
	<body>
		<div id="container">
			<video id="video"></video>
			<button id="startbutton">Take photo</button>
			<canvas id="canvas"></canvas>
			<img src="http://placekitten.com/g/320/261" id="photo" alt="photo">
		</div>
	</body>
</html>
