.ui.vertical.compact.labeled.icon.inverted.huge.teal.menu{
  border-radius: 10px;
  margin: 10px;
}

.ui.teal.icon.huge.button{
margin-right: 1px;
}

.ui.olive.label{
  padding-left: 2em;
  padding-right: 2em;
}

.ui.form .ui.stackable.two.column.grid{
  margin-top: 15px;
}

.ui.form .field{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ui.form .ui.olive.fluid.large.button{
  margin-top: 15px;
}

.embed-container {
    position: absolute;
    padding-bottom: 48.25%;
    height: 0;
    width: 80%;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
i.green{
  color: #8cc63e !important;
}

i.red{
  color: #F44336 !important;
}

i.huge{
  line-height: 1;
  vertical-align: middle;
  font-size: 4em;
}