<table id="search-results" class="ui very basic striped unstackable table" style="heigth:200px">
	<thead>
		<tr>
			<th>Numero</th>
			<th>Cliente</th>
			<th>Supervisor</th>
			<th>Alistador</th>
			<th>Motorizado</th>
			<th>Alistamiento</th>
			<th>Despacho</th>
			<th>Entrega</th>
		</tr>
		<tbody>
			<tr>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
			</tr>
			<tr>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
			</tr>
			<tr>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
			</tr>
			<tr>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
			</tr>
			<tr>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
			</tr>
			<tr>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
			</tr>
			<tr>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
			</tr>
			<tr>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
			</tr>
			<tr>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
			</tr>
			<tr>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
				<td>.....</td>
			</tr>
		</tbody>
	</thead>
</table>