{% extends "exp/base_user.html" %}
{% load staticfiles %}
{% block title %}Inicio {{ request.session.empresa }}{% endblock %}
{% block addcss_user %}<link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}">{% endblock %}
{% block content_user %}
  <div class="one middle aligned column row">
    <div class="center aligned  column">
      {% if request.session.cargo == 'ADMINISTRADOR' or request.session.cargo == 'SUPERVISOR'%}
      <div class="ui vertical compact labeled icon inverted huge teal menu">
        <a href="{% url 'usuario:index_cliente' %}" class="item">
          <h3><i class="material-icons huge">perm_identity</i></h3>
          Clientes
        </a>
      </div>
      {% endif %}
      {% if request.session.cargo == 'ADMINISTRADOR' or request.session.cargo == 'SUPERVISOR'%}
      <div class="ui vertical compact labeled icon inverted huge teal menu">
        <a href="{% url 'usuario:index_tienda' %}" class="item">
          <h3><i class="material-icons huge">store</i></h3>
          Tiendas
        </a>
      </div>
      {% endif %}
      {% if request.session.cargo == 'ADMINISTRADOR' or request.session.cargo == 'SUPERVISOR'%}
      <div class="ui vertical compact labeled icon inverted teal huge menu">
        <a href="{% url 'motorizado:index_moto' %}"class="item">
          <h3><i class="material-icons huge">motorcycle</i></h3>
          Motos
        </a>
      </div>
      {% endif %}
      {% if request.session.cargo == 'ADMINISTRADOR' %}
      <div class="ui vertical compact labeled icon inverted teal huge menu">
        <a href="{% url 'usuario:index' %}" class="item">
          <h3><i class="material-icons huge">work</i></h3>
          Empleados
        </a>
      </div>
      {% endif %}
      {% if request.session.cargo == 'SUPERVISOR' or request.session.cargo == 'ADMINISTRADOR' %}
      <div class="ui vertical compact labeled icon inverted teal huge menu">
        <a href="{% url 'pedido:index_pedido' %}" class="item">
          <h3><i class="material-icons huge">shopping_cart</i></h3>
          Pedidos
        </a>
      </div>
      {% endif %}
      {% if request.session.cargo == 'ALISTADOR' or request.session.cargo == 'MOTORIZADO'  %}
      <div class="ui vertical compact labeled icon inverted teal huge menu">
      <a href="{% url 'pedido:mis_pedido' %}"class="item">
        <h3><i class="material-icons huge">shopping_cart</i></h3>
        Mis Pedidos
      </a>
    </div>
      {% endif %}
      {% if request.session.cargo == 'ALISTADOR' %}
      <div class="ui vertical compact labeled icon inverted teal huge menu">
        <a href="{% url 'pedido:asignar_motorizado_pedido' %}" class="item">
          <h3><i class="material-icons huge">add_shopping_cart</i></h3>
          Asignar Pedidos
        </a>
      </div>
      {% endif %}
      {% if request.session.cargo == 'SUPERVISOR' or request.session.cargo == 'ADMINISTRADOR' %}
        <div class="ui vertical compact labeled icon inverted teal huge menu">
          <a href="{% url 'motorizado:rastreo_motorizado' %}" class="item">
            <h3><i class="material-icons huge">map</i></h3>
            Rastreo
          </a>
        </div>
      {% endif %}
      {% if request.session.cargo == 'SUPERVISOR' or request.session.cargo == 'ADMINISTRADOR' %}
        <div class="ui vertical compact labeled icon inverted teal huge menu">
          <a href="{% url 'reporte:index_reporte' %}" class="item">
            <h3><i class="material-icons huge">insert_drive_file</i></h3>
            Reporte
          </a>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
