{% extends "exp/base_user.html" %}
{% load staticfiles %}
{% block title %}Informacion del cliente{% endblock %}
{% block addcss %}
	<link rel="stylesheet" href="{% static 'css/etiquetas_texto.css' %}">
{% endblock %}
{% block content_user %}
<div class="one column row">
	<div class="column">
		<div class="ui labeled huge input">
      <a href="{% url 'usuario:list_cliente' %}" class="ui teal icon huge button">
        <i class="express-atras icon"></i>
      </a>
      <a class="ui olive label">Info cliente</a>
    </div>
	</div>
</div>
<div class="ui container grid" style="margin-bottom:50px;">
  <div class="center aligned column">
	  <h2 class="ui olive header">{{ cliente.first_name }} {{ cliente.last_name }}</h2>
	  <div class="ui stackable three column grid">
		  <div class="column">
			  <div class="ui olive big fluid label mod_tex">
				  Tipo de Id: <span>{{ cliente.tipo_id }}</span>
				  <!--a class="detail">{{ cliente.tipo_id }}</a-->
				</div>
		  </div>
		  <div class="column">
				<div class="ui olive big fluid label mod_tex">
				  Identificación: <span>{{ cliente.identificacion }}</span>
				  <!--a class="detail">{{ cliente.identificacion }}</a-->
				</div>
		  </div>
		  <div class="column">
				<div class="ui olive big fluid label mod_tex">
				  Telefono Celular: <span>{{ cliente.telefono_celular }}</span>
				  <!--a class="detail">{{ cliente.telefono_celular }}</a-->
				</div>
		  </div>
		  <div class="column">
				<div class="ui olive big fluid label mod_tex">
				Telefono Fijo: <span>{% if cliente.telefono_fijo %}{{ cliente.telefono_fijo }}{% else %}No{% endif %}</span>
				  <!--a class="detail">{% if cliente.telefono_fijo %}{{ cliente.telefono_fijo }}{% else %}No{% endif %}</a-->
				</div>
		  </div>
			<div class="column">
				<div class="ui olive big fluid label mod_tex">
				  Ciudad: <span>{{ cliente.ciudad|title }}</span>
				  <!--a class="detail">{{ cliente.ciudad|title }}</a-->
				</div>
		  </div>
			<div class="column">
				<div class="ui olive big fluid label mod_tex">
				  Dirección: <span>{{ cliente.direccion|title }}</span>
				  <!--a class="detail">{{ cliente.direccion|title }}</a-->
				</div>
		  </div>
			<div class="column">
				<div class="ui olive big fluid label mod_tex">
				  Barrio: <span>{{ cliente.barrio|title }}</span>
				  <!--a class="detail">{{ cliente.barrio|title }}</a-->
				</div>
		  </div>
			<div class="column">
				<div class="ui olive big fluid label mod_tex">
				  Zona: <span>{% if cliente.zona  %} {{ cliente.zona }} {% else %} No {% endif %}</span>
				  <!--a class="detail">{% if cliente.zona  %} {{ cliente.zona }} {% else %} No {% endif %}</a-->
				</div>
		  </div>
		</div>
  </div>
</div>
{% endblock %}
