{% extends "exp/base_user.html" %} {% block title %}Añadir Pedido{% endblock %} {% block content_user %}
<div class="one column row">
	<div class="column">
		<div class="ui labeled huge input">
			<a href="{% url 'pedido:index_pedido' %}" class="ui teal icon huge button">
				<i class="express-atras icon"></i>
			</a>
			<a class="ui olive label">Configuracion Gestion de Pedido</a>
		</div>
	</div>
	{% if mensaje %}
	<div class="ui center aligned container column">
		<div class="ui {{ mensaje.tipo }} message">
			<div class=" content">
				<div class="header">
					{{ mensaje.texto }}
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
<div class="ui container grid" style="margin-bottom:50px;">
	<div class="center aligned column">
		<form method="POST" action="{% url 'pedido:configurar_pplataforma' %}" class="ui form">
			<input type="hidden" name="id" value="{{ pk }}"
			{% csrf_token %}
			<h2 class="ui teal header">&nbsp;</h2>
			<div class="three fields">
				<div class="field {% if form.retraso.errors %}error{% endif %}">
					{{ form.retraso }}
				</div>
				<div class="field {% if form.pedido.errors %}error{% endif %}">
					{{ form.pedido }}
				</div>
				<div class="field {% if form.gps.errors %}error{% endif %}">
					{{ form.gps }}
				</div>
			</div>

			<div class="three fields">
				<div class="field {% if form.distancia.errors %}error{% endif %}">
					{{ form.distancia }}
				</div>
				<div class="field {% if form.primero.errors %}error{% endif %}">
					{{ form.primero }}
				</div>
				<div class="field {% if form.segundo.errors %}error{% endif %}">
					{{ form.segundo }}
				</div>
			</div>
			<button type="submit" class="ui olive fluid large button">Registrar</button>
		</form>
	</div>
</div>

{% endblock %} {% block addjs %}
<script>
	$(document).ready(function() {
		$('.ui.dropdown').dropdown();
	});
	$(function() {
		$('#add-cliente').click(function() {
			$('#cliente-form').modal('show');
		});
	});
</script>
{% endblock %}
