{% extends "exp/base_user.html" %}
{% load staticfiles %}
{% block title %}Listar Pedidos{% endblock %}
{% block content_user %}
<div class="one column row">
	<div class="column">
		<div class="ui labeled huge input">
      <a href="{% url 'pedido:index_pedido' %}" class="ui teal icon huge button">
        <i class="express-atras icon"></i>
      </a>
      <a class="ui olive label">Listar Pedidos</a>
    </div>
	</div>
</div>
<div class="ui container grid" style="margin-bottom:50px;">
  <div class="center aligned column">
		<div class="column row">
			<div class="column">
				{% csrf_token %}
				Presiona Enter en el campo de busqueda para ver todos los pedidos
					<div class="ui icon fluid input">
					<input type="text" name="search" id="search" autofocus placeholder="Buscar por codigo del pedido">
					<i class="search icon"></i>
				</div>
			</div>
		</div>
		<h4 class="ui horizontal divider header">
			<i class="express-listar icon"></i>
			Resultados
		</h4>
		<div class="column row">
			<div class="column">
				<table id="search-results" class="ui very basic striped unstackable table">
					<thead>
						<tr>
							<th>Numero</th>
							<th>Empresa</th>
							<th>Supervisor</th>
							<th>Alistador</th>
							<th>Motorizado</th>
							<th>Total</th>
							<th>Entregado</th>
							<th>Activo</th>
							<th class="center aligned">Mas Info</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
  </div>
</div>
<div id="cancelar" title="Cancelar Pedido"></div>
<div id="men" title="Cancelar Pedido"></div>
<div id="activar" title="Activar Pedido">
{% endblock %}

{% block addjs %}
	<script src="{% static 'api/js/jquery.js' %}"></script>
	<script src="{% static 'api/js/jquery.min.js' %}"></script>
	<script src="{% static 'api/js/dataTables.js' %}"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="{% static 'api/js/cancelar_pedido.js' %}"></script>
	<script src="{% static 'api/js/activar_pedido.js' %}"></script>
	<script type="text/javascript" src="{% static 'api/js/tabla_ajax_pedidos.js' %}"></script>
	<script src="{% static 'api/js/pedidoSearch.js' %}"></script>
{% endblock %}
